@use '@angular/material' as mat;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;

  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
  @include mat.form-field-overrides((filled-caret-color: black,
      filled-focus-active-indicator-color: blue,
      //filled-disabled-container-color: rgb(194, 201, 194),
      // filled-disabled-label-text-color: yellow,
      // filled-disabled-active-indicator-color: yellow,
    ));
}

html {
  height: 100%;
}